option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH

packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    libffi-devel: []
    openssl-devel: []
    python3-devel: []
